<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>37082-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,152}}</string>
                <key>sourceSize</key>
                <string>{75,152}</string>
            </dict>
            <key>37082-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{75,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,151}}</string>
                <key>sourceSize</key>
                <string>{75,151}</string>
            </dict>
            <key>37082-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{76,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,151}}</string>
                <key>sourceSize</key>
                <string>{76,151}</string>
            </dict>
            <key>37082-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{75,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,151}}</string>
                <key>sourceSize</key>
                <string>{75,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPC_1_stad.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b445aa45cae88f3c52df1cda5da3164f:1/1$</string>
            <key>textureFileName</key>
            <string>NPC_1_stad.png</string>
        </dict>
    </dict>
</plist>
